@keyframes iluminar {
    from {
        background-color: #666;
        color: #eee;
    }
    to {
        background-color: #888;
        color: #fff;
    }
}




nav{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
        position: absolute;
    a{
        @include colores;
        @include colores-hover;
        display: block;
        text-decoration: none;
        padding: 7px 20px;
        text-align: center;
        cursor: pointer;
        
        &:hover{
            @include colores-hover;
         @include animaciones(iluminar,0.4,linear);
        }
    
    
    }

 
    
    ul{
        @include colores;
        
        margin:0px;
        padding: 0px;
        list-style-type: none;
    
        .submenu{
            @include transiciones(height,0.5,ease-out);
            overflow: hidden;
            position: absolute;
            height: 0;
        }
    
    }

    >ul{
        @include tamaño(32px,100%);
        @include colores;
    }

    li.categoria{
        float: left;

        >a{
            @include transiciones(padding,0.4,ease-out);
            &:hover{
                padding: 10px 20px;
            }
        }
        &:hover ul.submenu
        {
            height: 100px;
        }

    }
    

    

    


    
}




