body{
    background-color:lightgray;
    font-family: sans-serif;
    
}

h1{
    text-align: right;
    font-family:monospace;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}

p.enlaces{
    background-color: white;
    text-align: center;
    width: 90px;
    float: left;
    border-top:3px solid grey;
    border-left: 3px solid grey;
    border-bottom: 3px solid black;
    border-right:3px solid black ;
}

main{
    margin-left: 10%;
    margin-right: 10%;
}

h2{
    background-color: grey;
    color:white;
    font-size: 1.75rem;

}

p{
    text-align:end;
}
section.principales{
    background-color: rgb(224, 224, 224);
}

h3{
    color: white;
    background-color: rgb(202, 202, 202);
    font-size: 1.25rem;
}

section.secundarias{
    background-color: white;
}

span{
    font-size: 3rem;
    float: right;
}

p.centrado{
    text-align: center;
}

address{
    background-color: orange;
    margin-right: 10%;
    margin-left: 10%;
    font-family: cursive;
}

hr{
    color: orange;
    background-color: orange;
    height: 5px;
    margin-left: 20%;
    margin-right: 20%;
}